[DEVICE]
Name=CEC1702
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GPS4_CEC.c
[HEADERS]
Count=3
File0=Click_GPS4_timer.h
File1=Click_GPS4_config.h
File2=Click_GPS4_types.h
[PLDS]
Count=1
File0=Click_GPS4.pld
[Useses]
File0=GPS4_CEC_M4
File1=UART
File2=C_String
File3=clicker_2_CEC1702
Count=4